*{
	margin: 0;
	padding: 0;
}
.header
{
	height: 100vh;
}
body
{
	text-align: center;
}
.navbar-style
{

	box-shadow: 0 5px 10px #efefef;
	font-weight: bold;
	text-transform: uppercase;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #e3e2e1;
	border-radius: 2px;
}
.logo
{
	height: 50px;
	padding: 2px 10px;
}
.icon-bar
{
	background: #02c222;
}
li a
{
	color: #02c222;
}
.a-text
{
	font-size: 35px;
	margin: 20px 0;
}
.text
{
	font-size: 25px;
	margin: 20px 0;
	
}
.big-text
{
	font-size: 53px;
	margin: 20px 0;
	color: #02c222;
	font-weight: bold;
}
.img-responsive
{
	width: 400px;
	margin-left: auto;
 	margin-right: auto;
 	text-align: center;

}
a.btn
{
	margin: 30px 10px;
	width: 150px;
	padding: 10px;
	border-radius: 20px;
}
a.btn-first
{
	background-color: #02c222;
	color: #fff;
}
a.btn-second
{
	background: transparent;
	color: #333;
	border: 1px solid #02c222;
}
a.btn:hover
{
	background: #02c222;
	border: none;
	color: #fff;
	box-shadow: 5px 5px 10ps #999;
	transition: 0.3s;
}
